# Ignore Conda environment
conda/


# Ignore macOS system files
.DS_Store

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints (if using Jupyter)
.ipynb_checkpoints/

# Ignore logs and temporary files
logs/
*.log
*.sqlite

# Ignore virtual environments 
venv/
env/
*.venv
.env

# Ignore LFS cache files
.lfsconfigca-certificate.crt

# Ignore large files
*.csv
*.geojson

# Ignore Certificate
ca-certificate.crt
ca-cert.b64
